header {
    width: 80%;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: auto;
    .textos-header{
        display: flex;
        height: 120px;
        padding: 120px 0 50px 0;
        width: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
        h1{
            font-size: 50px;
            color: $primary-color;
        }
        h2{
            font-size: 30px;
            font-weight: 300;
            color: $secundary-color;
            text-align: left;
            margin-bottom: 20px;
        }
        h3{
            font-size: 20px;
            font-weight: 300;
            color: $primary-color;
            text-align: left;
            margin-bottom: 20px;
        }
}
nav{
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: center;

    a{
        color:$primary-color;
        font-weight: 600;
        text-decoration: none;
        margin-right: 20px;
        padding: 10px 7px;
    }
    a:hover{
        background-color: #675df52d;
        border-radius: 4px;
        padding: 10px 7px;
    }    
}